* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ebd6fb;
}

.container {
  max-width: 1200px;
  height: 800px;
  background-color: black;
}

.box {
  height: 200px;
  width: 100%;
}

.box_container {
  display: flex;
}

.box1 {
  background-color: #e7caff;
}

.box2 {
  background-color: #e3a7ff;
}
.box3 {
  background-color: #7e45a8;
}
.box4 {
  background-color: #ab47fb;
}
.box5 {
  background-color: #9e38ef;
}
.box6 {
  background-color: #7629b2;
}
.box7 {
  background-color: #340c53;
}
.box8 {
  background-color: #560e8d;
}

@media screen and (width > 1200px) {
  .container {
    margin: 80px auto;
  }
}

@media screen and ((width < 1200px) and (width > 450px)) {
  .container {
    margin: 40px 24px;
  }
}

@media screen and (width < 450px) {
  .container {
    margin: 24px 16px;
  }
}

/* 

GOOD PRACTICE

@media screen and (min-width: 1201px) {
  .container {
    margin: 80px auto;
  }
}

@media screen and (min-width: 451px) and (max-width: 1200px) {
  .container {
    margin: 40px 24px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    margin: 24px 16px;
  }
} 
  


*/
